/* Global  */
/* Global  End*/
/* Desktop  */
.DrawerToggle {
  width: 35px;
  height: 70%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.DrawerToggle div {
  width: 100%;
  height: 2px;
  background-color: #676767;
}
@media (min-width: 700px) {
  .DrawerToggle {
    display: none;
  }
}
/* Desktop End*/
/* Tab/iPad  */
/* Tab/iPad End*/
/* Mobile  */
/* Mobile End*/
